.adminDash {
  background-color: #282c34;
  display: grid;
  grid-template-areas:
    'a b'
    'a c';
  gap: 10px;
  padding: 10px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

/* Form Style */
.adminDash form {
    display: block;
    float: left;
    width: 90%;
}
.adminDash form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.adminDash form input[type=text] {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

.adminDash form input[type=file] {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

.adminDash form input[type=submit] {
    float: right;
    padding: 0.75em;
    font-size: 1em;
    min-width: 25%;
    background-color: #00a4ff;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.adminDash form textarea {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    font-family: sans-serif;
    resize: vertical;
    min-height: 5em;
    max-height: 10em;
}

#rules {
    min-height: 10em;
    max-height: 20em;
}

/* Grid Stuff */
.adminDash .item1 {
  grid-area: a;
}
 .adminDash .item2 {
   grid-area: b;
 }
 .adminDash .item3 {
   grid-area: c;
 }