.adminDash {
  background-color: #282c34;
  display: grid;
  grid-template-areas:
    'null close'
    'a b'
    'a c'
    'd e';
  gap: 10px;
  padding: 10px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

/* Form Style */
.adminDash form {
    display: block;
    float: left;
    width: 90%;
}
.adminDash form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.adminDash form input[type=text] {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

.adminDash form input[type=file] {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

.adminDash form input[type=submit] {
    float: right;
    padding: 0.75em;
    font-size: 1em;
    min-width: 25%;
    background-color: #00a4ff;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.adminDash form textarea {
    display:  block;
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    font-family: sans-serif;
    resize: vertical;
    min-height: 5em;
    max-height: 10em;
}

#rules {
    min-height: 10em;
    max-height: 20em;
}

.adminDash h2 {
    margin-top: 0;
}
/* Grid Stuff */
.adminDash .closeButton {
    grid-area: close;
    text-align: right;
    padding-right: 1em;
    padding-top: 0.5em;
    font-size: 1.5em;
}
.adminDash .closeButton a {
    margin: 0;
}
.adminDash .item1 {
  grid-area: a;
}
 .adminDash .item2 {
   grid-area: b;
 }
 .adminDash .item3 {
   grid-area: c;
 }
 .adminDash .item4 {
     grid-area: d;
 }
 .adminDash .item5 {
     grid-area: e;
 }

 #redButton {
     background-color: #e13b38;
     cursor: pointer;
     padding: 5%;
     margin-top: 3.5em;
 }