.chatComponent {

}

.chatTitle {
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: x-large;
    margin: 1rem;
}

.chatBox {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    position: relative;
    margin: 1rem;
    min-height: 200px;
}

.messagesDisplay {
}

.channelSelect {
    color: black;
    font-size: 1.5rem;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    font-weight: bold;
}

.messages {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
}

.messageList {
    list-style-type: none;
    margin-left:0;
    margin-bottom: 0;
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    height: 10rem;
    padding-left: 10px;
    padding-right: 10px;
    scroll-margin: 0;
}

.messageListItem {
    list-style-type: none;
    margin-left:0;
    padding-left: 0;
    margin-bottom:-10px;
    text-align: left;
    margin-top: -15px;
}

.username {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.timestamp {
    font-size: 10px;
    font-style: italic;
    color: #000000;
}

.sendMessageSection {
}

.messageEntry {
    font-weight: bold;
}

.submitLabelText {
    color: #000000;
    font-family: Arial, serif;
}

.messageText {
    color: #000000;
    margin-left: 0;
}

.messageSendButton {
    border-radius: 10px;
    color:black;
    font-weight: bold;
    background-color: white;
    font-family: Arial, serif;
}