.vertNavBar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #444e5c;
    overflow: visible;
}

.vertNavBar .twoSides {
    display: grid;
    grid-template-columns: 5em auto;
    height: 91%;
}

.vertNavBar .options {
    text-align: left;
    position: sticky;
    display: flex;
    flex-direction: column;
}
.vertNavBar .options p {
    padding-left: 10px;
}

.vertNavBar .logoBlock {
    padding-top: 7%;
    padding-bottom: 7%;
    border-bottom: #282c34;
    border-width: 10px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.vertNavBar .logoBlock h2 {
    margin: 0;
    text-align: center;
}
.vertNavBar .listOfCommunities {
    background-color: #282c34;
    padding-top: 1em;
    text-align: center;
    height: 100%;
}

.vertNavBar ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

.vertNavBar ul > :last-child {
    margin-top: auto;
}

.vertNavBar li {
    padding-bottom: 0.5em;
    width: 100%;
}
.vertNavBar img {
    max-width: 3.5em;
    border-radius: 1.5em;
    border-style: solid;
    border-color: white;
}
.vertNavBar h2 {
    margin: 0.5em;
}

.vertNavBar .icon {
    background-color: #2bbcf1;
}

/* Bottom Menu Bar */
.bottomBar {
    background: #252626;
    padding: 10px;
}

.addOrJoinModal {
    background-color: #282c34;
}

#helper {
    flex-grow: 1;
}
.profileBox {
    padding-bottom: 10%;
    padding-top: 5%;
    background-color: #303133;
}

.profileInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profileBox p {
    margin: 0;
}


.logOutButton {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

.profileInfo a {
    flex: 1;
}

.logOutBlock {
    position: absolute;
    top:0;
    padding: 1%;
    background-color: #313742;
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-style: solid;
    border-color: #00a4ff;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.logOutBlock a {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2em;
}

#menuDots {
    border: none;
    height: 2em;
    float: right;
}

#sideA {
    font-size: 1em;
}

.joinOrCreateModal button {
    float: right;
}