/*Setup Grid for UserDash and Left Hand Nav Bar*/
.rootUserDashDiv {
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
}

.userDash {
    width: 100%;
}

.userDashContent {
    margin-left:2em;
    margin-right:2em;
}

#profilePhoto {
    width: 50%;
    max-height: 75%;
    border-radius: 2.5em;
}